<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $cssOpts := (dict "targetPath" "css/fonts.css" ) }}
    {{ $styles := resources.Get "scss/fonts.scss" | resources.ExecuteAsTemplate "style.fonts.css" . | toCSS $cssOpts | minify | fingerprint }}
    <link rel="preload" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" as="style" crossorigin/>
    <link rel="preload" href="/fonts/latin-lato.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/fonts/latin-merriweather.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/js/extra.min.js" as="script" crossorigin/>

    {{ with resources.Get "scss/coder-critical.scss" | toCSS | minify }}
    <style>
    {{ .Content | safeCSS }}
    </style>
    {{ end }}

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="icon" href="data:,">

    {{ if .Permalink }}
    <!-- <link rel="canonical" href="{{ .Permalink }}"> -->
    {{ end }}

    {{ if .Permalink }}
      <base href="{{ .Permalink }}">
    {{ end }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" />
  </head>
  <body class="colorscheme-light">
    <main class="wrapper">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>

      {{ partial "footer.html" . }}
    </main>
    <div id="scrollmarker"></div>
    <script>
window.addEventListener("DOMContentLoaded",function(b){var a=[];"ArrayBuffer"in window&&"DataView"in window&&"Uint8Array"in window&&"Blob"in window&&"sendBeacon"in navigator&&(window.___pageLoadTime=Date.now(),a.push(["/js/extra.min.js",!0]));"Promise"in window||a.push(["https://polyfill.io/v3/polyfill.min.js?features=es6",!1]);if(0<a.length){var d=a.length;for(b=document.createDocumentFragment();d--;){var c=document.createElement("script"),e=a[d];e[1]&&(c.defer=!0);c.src=e[0];b.appendChild(c)}a=
document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)}});
    </script>
  </body>
</html>
