<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fafafa">
    {{ $cssOpts := (dict "targetPath" "css/fonts.css" ) }}
    {{ $styles := resources.Get "scss/fonts.scss" | resources.ExecuteAsTemplate "style.fonts.css" . | toCSS $cssOpts | minify | fingerprint }}
    <link rel="preload" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" as="style" crossorigin/>
    <link rel="preload" href="/fonts/latin-lato.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/fonts/latin-merriweather.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/js/extra.min.js" as="script" crossorigin/>

    {{ with resources.Get "scss/coder-critical.scss" | toCSS | minify }}
    <style>
    {{ .Content | safeCSS }}
    </style>
    {{ end }}

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
    <link rel="manifest" href="/manifest.json">

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="icon" type="image/png" href="/images/icons/icon-192.png">
    <link rel="apple-touch-icon" href="/images/icons/apple_icon.png">

    {{ if .Permalink }}
    <!-- <link rel="canonical" href="{{ .Permalink }}"> -->
    {{ end }}

    {{ if .Permalink }}
      <base href="{{ .Permalink }}">
    {{ end }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" />
    <script src="/js/extra.min.js" defer crossorigin></script>
    <script>
var a=document.createElement("script"),b="defer"in a&&"async"in a;window.ctm="object"===typeof document.documentElement.dataset&&"visibilityState"in document&&b;
    </script>
  </head>
  <body class="colorscheme-light">
    <main class="wrapper">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>

      {{ partial "footer.html" . }}
    </main>
    <div id="scrollmarker"></div>
    <script>
(function(){function a(b){b in c||(c[b]=!0,document.dispatchEvent(new CustomEvent("u."+b)))}function d(){"complete"===document.readyState?a("DOMContentLoaded"):"interactive"!==document.readyState||document.attachEvent||a("DOMContentLoaded")}if(window.ctm){var c={};document.addEventListener("DOMContentLoaded",a.bind(null,"DOMContentLoaded"));document.onreadystatechange=d;d()}})();
    </script>
  </body>
</html>
